<!DOCTYPE html>
<html>
  <head>
    <title>DB/Translate</title>
    </head>
    
    
<body style="background-color: #0b2447; margin-top: 13%">
    <h1 style="font-size: 61px;
    color: whitesmoke;
    padding-left: 590px;
    font-family: sans-serif;
    margin-top: 37px;">Translated</h1>
    <div style="background-color: whitesmoke; width: 50%;
    margin-top: 38px;
    margin-left: 363px;
    border-radius: 16px;">
    <p style ="padding: 32px;
    text-align: justify;
    font-size: 20px;">
    visually impaired users give input on sheets without any interaction with a computing device.
    </p>
    </div>
    

</body>

    
